.footer{
    height: 630px;
    position: relative;  
    &__info{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: $main-color;
        padding: 50px 53px 56px 53px;
        
        }
    
    &__addr{
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 36px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone{
        display: block;
        font-weight: 700;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF; 
        text-decoration: none;
        &:hover{
            color:#FFFFFF;
        }
    }
    &__social{
        margin: 36px 60px 56px 63px;
        display: flex;
        width: 212px;
        height: 52px;
    }
    &__social-item{
        margin: 0 13px;
    }
} 